body{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background:rgb(233, 226, 226);
    
}
.container1{
    border: 1px;
    background:white;
}

.header{
    background: yellow;
    
}
.button1{
    background: black;
    color: yellow;
    border-radius: 40px;
    padding: 10px 32px;
    border: none;
}
.trouble{
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.OR{
    color: gray;
    padding-left: 40px;
    
}
input{
    border: none;
    border-bottom: 1px solid black;
    padding-right: 80px;
}
h5{
    color: rgb(48, 120, 236);
    padding-left: 145px;
    padding-bottom: 40px;
}
.button3{
    background: #bbb;
    opacity: 0.6;
    border-radius: 40px;
    padding: 10px 32px;
    border: none;
    font-weight: bold;
}
.button2{
    background: #bbb;
    opacity: 0.6;
    border-radius: 40px;
    padding: 10px 32px;
    border: none;
    font-weight: bold;
}


.button4{
    background: yellow;
    border-radius: 40px;
    padding: 10px 32px;
    border: none;
    font-weight: bold;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
